# Ignore virtual environment folder
venv/
.venv/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables or secret settings
.env

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp